
@font-face {
    font-family: "christmas";
    src: url("../Fonts/christmas.otf")
    format('truetype');
}

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    height: 100dvh;
}

canvas {
    height: 100dvh;
    flex: 1 1 100%;
}

